
button {
    background-color: white;

    border: 1px solid black;
    padding: 5px 15px 5px 15px;
    margin-bottom: 10px;


}

button:active{
    box-shadow: none;
    transform: translateY(1px) translateX(1px);
}


button:hover{
    background-color: black;
    border-color: black;
    color: white;
    cursor: pointer;
}