

body {
  background-color: white;
}

h1 {
  font-size: 100px;
  font-family: "Helvetica Neue", sans-serif;
}

h2 {
  font-size: 70px;
  font-family: "Helvetica Neue", sans-serif;
}

h3 {
  font-size: 40px;
  font-family: "Helvetica Neue", sans-serif;
}

/* Set font family for all text elements to Helvetica Neue */
body, h1, h2, h3, h4, h5, h6, p, b, label, button, input, textarea, select {
  font-family: 'Helvetica Neue', sans-serif;
}
